@media (max-width: 1023px) {
    .active {
        background-color: #027b99;
    }
}
@media (min-width: 1023px) {
    .active {
        border-left: 0.25rem solid #029CC3;
        color: #029CC3;
    }
}
.react-dropdown-tree-select .dropdown,.react-dropdown-tree-select .dropdown .dropdown-trigger {
    width: 100%;
  }
.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom:after{
    float: right;
    margin-top: 4px;
    margin-right: 5px !important;
}
.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top:after{
    float: right;
    margin-top: 4px;
    margin-right: 5px !important;
}
.react-dropdown-tree-select .dropdown .dropdown-content{
    width: 100%;
    margin-bottom: 40px;
}
/* .ant-select-show-search.ant-select-multiple .ant-select-selector{
    padding: 1rem;
    background-color: rgba(235, 235, 242,1);
    border-radius: 0.375rem;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: none !important;

}
.ant-select-focused:not(.ant-select-disabled).ant-select-multiple .ant-select-selector{
    border-color: rgba(164, 164, 186, 1);
    box-shadow: none;
}
.ant-select-focused:not(.ant-select-disabled).ant-select-multiple .ant-select-selector{
    border-width: 2px !important;
    border-style: solid;
    background-color: white;
    border-color: rgba(164, 164, 186, 1) !important;
    box-shadow: none !important;

}
.ant-select:not(.ant-select-disabled):hover.ant-select-multiple .ant-select-selector{
    border-width: 2px !important;
    border-style: solid !important;
    border-color: none !important;
    box-shadow: none !important;

}
.ant-select-selection-placeholder {
    margin-left:0.50rem;
} */